@media screen and (max-width: 1600px){
  header nav.main-menu ul li a{
    padding:0px 4px;
    font-size: 14px;
  }
    header.header-white nav.main-menu ul li a {
      font-size: 14px;
  }
}

@media screen and (max-width: 1440px) {
  .contact-section .contact-form input[type=text], .contact-section .contact-form input[type=phone], .contact-section .contact-form input[type=email]{
    height:40px;
    line-height: 40px;
    margin: 5px 0px;
  }
  .contact-section .contact-form h3{
    font-size: 22px;
  }
  .contact-section .contact-form p{
    font-size: 13px;
  }
  .contact-section .contact-form .blue-line{
    margin:5px 0px;
  }
  .contact-section .contact-form .contact-btn input[type=submit],.apply-form button{
    height:40px;
    line-height: 40px;
  }
  header nav.main-menu ul li{
    margin:0px;
    a{
      font-size: 13px;
    }
  }
  header.header-white nav.main-menu ul li
  {
    margin:0px;
    a{
      font-size: 13px;
    }
  }

}

@media screen and (max-width: 1366px) {
  .contact-section .contact-form input[type=text], .contact-section .contact-form input[type=phone], .contact-section .contact-form input[type=email]{
    height:40px;
    line-height: 40px;
    margin: 5px 0px;
  }
  .contact-section .contact-form h3{
    font-size: 22px;
  }
  .contact-section .contact-form p{
    font-size: 13px;
  }
  .contact-section .contact-form .blue-line{
    margin:5px 0px;
  }
  .contact-section .contact-form .contact-btn input[type=submit],.apply-form button{
    height:40px;
    line-height: 40px;
  }
  header nav.main-menu ul li{
    margin:0px;
    a{
      font-size: 13px;
    }
  }
  header.header-white nav.main-menu ul li
  {
    margin:0px;
    a{
      font-size: 13px;
    }
  }

}


@media screen and (max-width: 1280px) {
  header .main-menu ul li:hover div ul li a{
    padding: 10px;
  }
  header nav.main-menu ul li a{
    padding: 0px 5px; 
  }
    header.header-white nav.main-menu ul li a {
      font-size: 13px;
  }
}
@media screen and (max-width: 1180px) {

  header nav.main-menu ul li a{
    padding: 0px 5px; 
    font-size:11px;
  }
    header.header-white nav.main-menu ul li a {
      font-size: 10px;
  }
}
@media screen and (max-width: 1180px)
{
  header nav.main-menu ul li a {
      padding: 0px 3px;
      font-size: 10px;
  }
}
@media   (max-width:768px) {
  .partners-title{
    padding-left:15px;
  }
  .mobile-lang{
    display: block;
    position: absolute;
    top: -35px;
    left: 10px;
    border-radius: 3px;
    .btn-link{
      color: $blackcolor !important;
    }
  }
  .main-pageheader .pageheader-main-section .mainpage-header-section .main-pageheader-left .pageheader-box h1{
    font-size: 24px;
    width: 100%;
  }
  .pageheader .page-header-content .page-header-content-box h1{
    font-size: 24px;
    width: 100%;
  }
  header.header-white .logo-section a img{
    height:34px !important;
  }
  header.header-white .logo-section{
    padding: 0px 0px 0 0 !important;
  }
  .mobile-lang a {
      text-transform: uppercase !important;
  }
  .main-pageheader .pageheader-main-section .mainpage-header-section .main-pageheader-right .pageheader-box form input[type=button]{
    right:0px;
    position: relative;
    width:100%;
  }
  .home-exporter-section .nav-tabs-header nav .nav-tabs .nav-link.active{
    border-bottom:1px solid #d8d8d8;
  }
  #gotopbtn{
    display:none !important;
  }
  .modal-open .modal{
    border: 0px;
    border-radius: 0px;
  }
  .modal.show .modal-dialog{
    margin: 0px;
    border: 0px;
    border-radius: 0px;
  }
  .modal-content{
    height: auto !important;
    padding: 0px !important;
  }
  .contact-section .contact-form .contact-btn input[type=submit], .apply-form button{
    width: 100%;
  }
  .apply-form button{
    margin: 15px !important;
    padding: 0px;
    width: 100%;
    margin-right: 0px !important;
  }
  header {
    .mobile-menu{
      ul{
        li{
          &.application-btn{
           
            a{
              border:1px solid $greenColor;
              color:$greenColor;
              padding:0px 5px;
              @include border-radius(4px);
            }
          }
        }
      } 
    } 
  }

  .contact-section .contact-left{
    display:none;
  }
  .contact-section .contact-form h3 {
    font-size: 22px;
    margin-top: 20px;
}
  .contact-section{
    background: $whitecolor;
  }
  .pageheader .page-header-content .page-header-content-box .page-header-menu ul li{
    margin: 10px 0px 10px 0px;
  }
  footer .footer-menu h3{
    margin-top: 20px;

  }
  .footer-menu.last-menu{
    padding-top:15px;
  }
  .main-content{
    padding:15px 0px;
    background: none!important;
  }
  .main-options .left-absolute{
    display:none;
  }
  .tab-box .tab-box-inside .tab-rules{
    background-color: $wheightGreyBackColor;
    padding: 20px;
  }
  .team-section {
    .homeboxleft{
      display: none;
    }
    h2{
      font-size:22px;
      margin-bottom:15px;
    }
  }
  .tab-box .tab-box-inside .home-exporters-box .try-now{
    width:100%;
    padding:0px;
    text-align:center;
    margin:15px 0px;
    a{
      float:none;
    }
  }
  .additional-features-section .additional-features .features-box{
    min-height: 300px;
    border-right: 0px;
    border: 0px;
    padding: 0px;
    width:100%;

  }
  .tab-box .tab-box-inside .home-exporters-box .home-exporters-box-inside h2{
    font-size:22px;
  }
  .pageheader .page-header-content{
    width: 100%;
    bottom: 0px;
    text-align: center;
    position: absolute;
   /* top: 50px;
    transform: translate(0,0); */
    .page-header-content-box {
      h4{
        width:100%;
        font-size:20px;
      }
      p{
        font-size:12px;
        width:100%;
      }
    }
  }
  .tab-box .tab-box-inside .tab-box-img.left-img {
    .dots-left{
      display: none;
    }
    img{
    width:100%;
    }
  }
  .tab-box .tab-box-inside .home-exporters-box .home-exporters-box-inside h3{
    margin: 10px 0px;
  }
  .homepage-section .homeboxleft,.homepage-section .homeboxright{
    display:none;
  }
  .home-exporter-section .nav-tabs-header{
    margin:0px 15px;
  }
  .main-pageheader .pageheader-main-section .mainpage-header-section .main-pageheader-right .pageheader-box form input[type=text]{
    font-size: 11px;
  }
  .main-pageheader .pageheader-main-section .mainpage-header-section .main-pageheader-right .pageheader-box form input[type=button]{
    font-size: 13px;
  }
  .exporter-solutions-section .exporter-solutions .quick-aplication-btn{
    width:100%;
    padding:0px;
  }
  .main-pageheader .pageheader-main-section .mainpage-header-section .main-pageheader-left{
    width:100%;
    position: relative;
    transform: translateY(0);
    top: 100px;

    .pageheader-box{
      padding-right:0px;
      h3{
        font-size:22px;
      }
      p{
        font-size:13px;
      }
    }
  }
  .main-pageheader .pageheader-main-section .mainpage-header-section .main-pageheader-right{
    transform: translateY(0);
    top:auto;
    width:100%;
    bottom: 0;
    .pageheader-box{
      padding-left:0px;
    }
  }
  .tab-box .tab-box-inside .home-exporters-box .home-exporters-box-inside {
    transform: translateY(0);
    top: 0;
    position: relative;
}
.home-exporter-section .nav-tabs-header nav .nav-tabs .nav-link{
  width:100%;
}
.tab-box{
  padding:25px 0px;
}
.tab-box .tab-box-inside .tab-box-img img#right50-img{
  width:100% !important;
  left:0px !important;
  margin:15px 0px;
}
  .main-menu{
    display: none;
  }

  .open{
    @include transition-method(0.5s);
    height: 100vh !important;
    overflow: scroll !important;
  }
  .top-header{
    display: none;
  }
  header{
    margin-top:0px;
    height: auto;
    padding: 10px 0px;
    background: $whitecolor;
    .logo-section{
      display: block;
      width:100%;
      text-align: center;
      margin:0px;
      img{
        display: inline-block;
        &.logo-white{
          display: none;
        }
        &.logo-black{
          display: inline-block !important;
        }
      }
    }
    .header-menu{
      display: none;
    }
    .mobil-menu-btn{
      display: block;
      padding: 0px 15px;
      margin: 10px 0px;
      position: absolute;
      height: 60px;
      width: 55px;
      top: -45px;
      right: 0;
      i{
        //color:$weightBlueColor;
        color: $footerTitleFontColor;
      }
      .top-line{
        margin-top:10px;
        height: 2px;
        //background-color:$weightBlueColor;
        background-color:$footerTitleFontColor;
        width: 30px;
        @include transition-method(.5s);
      }
      .middle-line{
        margin-top:7px;
        height: 2px;
        background-color:$footerTitleFontColor;
        width: 24px;
        @include transition-method(.5s);
      }
      .bottom-line{
        margin-top:7px;
        height: 2px;
        background-color:$footerTitleFontColor;
        width: 30px;
        @include transition-method(.5s);
      }
      &.opened{
        .top-line{
          @include transition-method(.5s);
          @include rotateMethod(45deg);
        }
        .middle-line{
          margin-top:0px;
          @include transition-method(.5s);
          display: none;
        }
        .bottom-line{
          margin-top:0px;
          @include transition-method(.5s);
          @include rotateMethod(-45deg);
        }
      }
  }
  .mobile-menu{
    height: 1px;
    overflow: hidden;
    @include transition-method(0.5s);
    //padding: 0px 15px;
    display: block;
  
    .mobile-submenu{
      display: none;
      overflow:hidden;
      height: 0px;
      background: $footerGrey;
      padding-left:15px;
      @include transition-method(0.5s);
      &.open-submenu{
        @include transition-method(0.5s);
        height: auto;
        min-height: 100px;
        visibility: visible;
        display: block;
      }
      li{
        padding:0px;
        a{
          font-size:16px;
        }
      }
    }
    ul {
      margin:15px 0px;
      padding: 10px 0px;
      border-top: 1px solid $footerTitleFontColor;
      //border-bottom: 1px solid $whitecolor;
      li{
        display: block;
        height: auto;
        position: relative;
        padding-left: 30px;
        margin: 5px 0px;
        a{
          //color:$weightBlueColor;
          color: $footerTitleFontColor;
          font-size: 18px;
        }
        .triangle-block{
          @include scale-method(1);
          @include transition-method(0.2s);
          //@include rotateMethod(90deg);
          position: absolute;
          text-align: center;
          float: left;
          left: 0px;
          top: 0px;
          height: 25px;
          width: 25px;
          line-height: 25px;
          &.opened-btn{
            @include transition-method(0.2s);
            @include rotateMethod(90deg);
           i{

           }
          }

          .triangle{
            @include triangle();
          }
          i{
            font-size: 25px;
            color:$footerTitleFontColor;
          }
        }
        div{
          width: 100%;
          position: relative;
          left: 0;
          display: block;
          @include transition-method(0.2s);
          &.mobile-submenu{
            background-color: $footerTitleFontColor;
        
            ul{
              margin:0px !important;
              li{
                a{
                  color:$footerTitleFontColor;
                }
              }
            }
            @include scale-method(0);
            height: 0px;
            overflow: hidden;
            @include transition-method(0.2s);
              &.open-submenu{
                padding:15px 0px;
                height: auto;
                @include scale-method(1);
                @include transition-method(0.2s);
            }
          }
          ul{
            li{
              padding-left:15px;
            }
          }
        }
      }
    }
    .social{
      float: left;
      width:100%;
      ul {
        margin:15px 0px;
        li{
          float: left;
          margin-left:5px;
          a{
            color:$weightBlueColor;
          }
        }
      }
    }
    .language{
      float: left;
      width:100%;
      ul {
        margin:15px 0px;
        li{
          float: left;
          margin-left:5px;
          a{
            color:$weightBlueColor;
          }
        }
      }
    }
  }
  }


.banner-section {
  height:300px;
  overflow: visible;
  .btn-stop{
    margin-top: -80px;
  }
  .btn-play{
    margin-top: -80px;
  }
  .triangle-section-upper{
    display: none;
  }
  .triangle-section{
    display: none;
  }
    .main-slider {
      height: 300px;
      .owl-theme {
        .owl-dots{
          margin-top: -30px;
        }
      }
      .main-slider-item {
        img {
          object-fit: cover;
          height: 300px;
        }
        .main-slider-content{
          text-align: center;
          bottom: 0px;
          width: 100%;
          left: 0px;
          top: 0;
          text-align: center;
          h3{
            font-size:16px;
            b{
              font-size:16px;
            }
          }
          .slider-btn{
            height: 35px;
            line-height: 35px;
          }
        }
      }
    }

  /**/.owl-nav {
        display: none;
    button{
    }
  }
  }

  .activity-areas {
    #activity-areas {
      padding: 10px 40px;
      .owl-next{
        right: calc(-15px);
        &:hover{
          right: calc(-15px);
        }
      }
      .owl-prev{
        left: calc(-15px);
        &:hover{
          left: calc(-15px);
        }
      }
    }
    .select-broadcast{
      ul{
        display: block;
        li{
          display: block;
          width: 100%;
          margin:10px 0px;
          border: 0px;
          @include borderradius(10px);
          &:first-child{
            margin:10px 0px;
            border: 0px;
            @include borderradius(10px);
          }
        }
      }
    }
    .broadcast-section {
      .broadcast-box{
        margin:30px 0 0 0;
      }
    }
  }
  .broadcast-detail-section-bottom {
    .broadcast-box-bottom {
      .detail-social {
        margin:15px 0px;
        .social-box{
          display: flex;
          width:100%;
          margin:10px 0px;
          a {
            flex: 1 1;
          }
        }
      }
    }
  }
  .pdf-section {

    .pdf-btn{
      display: flex;
      width:100%;
      small{
        flex: 1 1;
      }
    }
  }
  .homepage-section {
    .announcement {
      .announcement-btn{
        text-align: center;
        display: block;
      }
    }
    .information-notes {
      #information-notes{
        padding: 15px 40px;
        .owl-next{
          right: calc(-15px);
          &:hover{
            right: calc(-15px);
          }
        }
        .owl-prev{
          left: calc(-15px);
          &:hover{
            left: calc(-15px);
          }
        }
      }
    }
  }

  .lawyer-selection-section {
    .lawyer-selection{
      display: block;
      width:100%;
      select{
        &:first-child{
          @include borderradius(10px);
        }
        width: 100%;
        display: block;
        margin:10px 0px;
        @include borderradius(10px);
      }
      .all-team-select{
        width: 100%;
        display: block;
        margin:10px 0px;
        @include borderradius(10px);
      }
    }
  }

  .team-section{
    .lawyers-box{
      margin:10px 0px;
      h3{
        font-size:18px;
      }
      span{
        font-size: 14px;
      }
    }
    .col-md-2{
      width: 50%;
    }
  }
  .career-form {
    padding:40px 0px;
    .from-checkbox{
      margin: 15px 0px;
    }
    input[type=submit]{
      display: block;
      width:100%;
    }
  }
  .lawyers-on-subject-section {
    #lawyers-on-subject{
      padding: 10px 40px;
      .owl-next{
        right: calc(-15px);
        &:hover{
          right: calc(-15px);
        }
      }
      .owl-prev{
        left: calc(-15px);
        &:hover{
          left: calc(-15px);
        }
      }
    }
  }
  .contact-form{ 
    .from-checkbox{
      margin:15px 0px;
    }

  }
  .contact-information{
    margin:15px 0px;
  }
  footer {
    .footer-inside {
      .footer-contact{
        border:0px !important;
      }
      .footer-menu {
        margin:20px 0 10px 0;
        border:0px !important;
        ul {
          li{
            //width: 100%;
            text-align: left;
          }
        }
      }
      .map{
        margin:20px 0 10px 0;
      }
    }
  }
}


@media   (max-width:375px) {

  .get-offer{
    width:300px;
    right:-300px;
  }
  .pageheader .page-header-content .page-header-content-box .page-header-menu ul li a{
    font-size:12px;
  }
}

@media   (max-width:350px) {

  .get-offer{
    width:300px;
    right:-300px;
  }
  
  footer .footer-inside .footer-menu ul li a{
    font-size: 15px;
  }
  .pageheader .page-header-content .page-header-content-box .page-header-menu ul li a{
    font-size:10px;
  }
}
