/*
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

@import url('https://db.onlinewebfonts.com/c/e6404b5b984ecbc480bbeb17306ae946?family=Arial+Nova');



@import url("https://fonts.googleapis.com/css?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://db.onlinewebfonts.com/c/e6404b5b984ecbc480bbeb17306ae946?family=Arial+Nova");
*/
@mixin getFontFamily(){
  font-family: 'Open Sans', sans-serif;
}
@mixin getRajdhaniFamily(){
  font-family: 'Rajdhani', sans-serif;
}
@mixin getMontserratFamily(){
  font-family: 'Montserrat', sans-serif;
}
@mixin sourceSansProFamily(){
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: 'ArialNovaW07-Regular';
  src: url("../fonts/arialnova/Arial-Nova-W07-Regular/Arial-Nova-W07-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'ArialNovaW07-Bold';
  src: url("../fonts/arialnova/Arial-Nova-W07-Bold/Arial-Nova-W07-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'ArialNovaW07-Light';
  src: url("../fonts/arialnova/Arial-Nova-W07-Light/Arial-Nova-W07-Light.ttf") format("truetype"); }



/*** Axiforma Fonts Start***/
@font-face {
  font-family: 'Axiforma-Bold';
  src: url("../fonts/Axiforma/Kastelov - Axiforma Bold.otf") format("truetype"); }
  @font-face {
    font-family: 'Axiforma-Book';
    src: url("../fonts/Axiforma/Kastelov - Axiforma Book.otf") format("truetype"); }
    @font-face {
      font-family: 'Axiforma-Regular';
      src: url("../fonts/Axiforma/Kastelov - Axiforma Regular.otf") format("truetype"); }

      @font-face {
        font-family: 'Axiforma-SemiBold';
        src: url("../fonts/Axiforma/Kastelov - Axiforma SemiBold.otf") format("truetype"); }
        @font-face {
          font-family: 'Axiforma-Light';
          src: url("../fonts/Axiforma/Kastelov - Axiforma Light.otf") format("truetype"); }
        
/*** Axiforma Fonts Finish***/


@font-face {
  font-family: 'Circular-Black';
  src: url("../fonts/Circular-Black/Circular Black.otf") format("truetype"); }


  .lang-section{
    //display:none;
    a{
      text-transform: uppercase;
    }
  }
  .mobile-lang{
    display: none;
  }
body {
 
}

 a{
  text-decoration: none !important;
 }
 .noscroll{
   overflow-y:hidden;
 }
 .mobile-menu{
  display: none;
}
.blue-line{
  height:2px;
  margin:20px 0px;
  background-color:$menuHoverBlue;
  width:70px;
}
.partners-title{
    h2{
      font-family: "Axiforma-Light";
      font-size: 26px;
      color: $blackcolor;
      margin:25px 0px 0px 0px !important;
  }
  
  .blue-line{
    @extend .blue-line;
  }
}
 .standart-btn{
  a{
    border:1px solid $blackcolor;
    height: 40px;
    line-height: 40px;
    padding: 0px calc(20px + 15px) 0px 20px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color:$blackcolor;
    text-decoration: none;
    text-transform: uppercase;
    img{
        top:12px;
        right: calc(30px - 15px);
        height: 15px;
        width: auto;
        position: absolute;
        @include transition-method(0.2s);
    }
    &:hover{
      img{
        right: 10px;
        @include transition-method(0.2s);
      }
    }
  } 
}
.standart-section-title{
  display: flex;
  .title{
    height: 20px ;
    line-height: 20px;
    font-family: 'Axiforma-SemiBold';
    font-size:15px;
    padding-right:3rem;
    color:$blackcolor;
  }
  .line{
    flex:1 1;
    height:1px ;
    background-color:$footerFontColor ;
    margin-top:10px;
  }
}

.standart-header{
  margin:80px 0px;
  text-align: center;
  h3{
    @include getMontserratFamily();
    margin:40px 0px;
    font-size:40px;
    font-weight: bold;
    color:#505050;
  }
  p{
    @include getFontFamily();
    font-size:18px;
    color: #505050;
  }
}

header{
  .main-header{
    padding:0px 15px;
  }
  padding-top: 3vh;
  position: fixed;
  z-index: 900;
  display: block;
  width: 100%;
  @include transition-method(0.2s);
  &.header-white{
    padding: 10px 0px;
    background:$whitecolor;
    @include transition-method(0.2s);
    @include boxShadow();
    .logo-section{
      padding: 5px 0px 0 0;
      a{
        img{
          height:30px;
          &.logo-white{
            display:none;
          }
          &.logo-black{
            display:block;
          }
        }
      }
    }
    nav{
      &.main-menu{
        ul{
          li{
            &.application-btn{
              border:1px solid $greenColor;
              a{
                color:$greenColor;
              }
            }
            a{
              font-family: 'Axiforma-Bold';
              color:$blackcolor;
              font-size:16px;
            }
          }
        }
      }
    }
  }
  .logo-section{
    padding: 0px 0px 0 0;
    a{
      img{
        height:34px;
        &.logo-black{
          display:none;
        }
      }
    }
  }
  nav{
    &.main-menu{
      float: right;
      ul{
        margin: 0;
        padding: 0;
        li{
          float: left;
          list-style: none;
          margin:0px 10px;
          padding:10px 0px;
          @include transition-method(0.2s);
          &.application-btn{
            background-color: transparent;
            @include transition-method(0.2s);
            @include borderradius(5px);
            border:1px solid $whitecolor;
            &:hover{
              @include borderradius(5px);
              @include transition-method(0.2s);
              background-color: $whitecolor;
            }
          }
          a{
            padding:0px 10px;
            
            font-family: 'Axiforma-Bold';
            color:$whitecolor;
            font-size:16px;
            @include transition-method(0.2s);
          }
          &.sub-menu-title{
            &:hover{
              @include borderradiusall(5px,5px, 0px,0px);
            }
            ul{
              li{
                background-color: transparent;
                &:hover{
                  background-color: transparent;
                      a{
                       color: $menuHoverBlue;
                       text-decoration: underline !important;
                  }
                }
             
              }
            }
          }
          &:hover{
            @include transition-method(0.2s);
            background:$whitecolor;
            @include boxShadow();
            @include borderradiusall(5px,5px, 5px,5px);
            a{
              color:$blackcolor;
              @include transition-method(0.2s);
            }
            ul{
              display: block;
              &.mega-menu{
                width: 40vw;
              }
              
            }
          }
          ul{
            position: absolute;
            background: $whitecolor;
            display: none;
            margin-top:10px;
            padding:10px;
            margin-left:-20px;
            @include borderradius(5px);
            @include boxShadow();
            li{
              float: none;
              margin:0px 5px;
              &:hover{
                background:$lightGreyColor;
                @include borderradius(5px);
               // box-shadow:none;
              }
              a{
                  padding: 5px;
                  display: block;
              }
            }
            div {
              float: left;
              width: 50%;
            }
          }
        }
      }
    }
  }


}

.exporter-solutions-section{
  padding:50px 0px;
  .exporter-solutions{
    text-align: center;
    h1{
      text-align:center;
      color:$blackcolor;
      font-family: 'Axiforma-Bold';
      font-size:34px;
    }
    p{
      text-align:center;
      color:$blackcolor;
      font-family: 'Axiforma-Book';
      font-size:15px;
      margin: 0px;
    }
    .quick-aplication-btn{
      margin-top:50px;
      background-color:$greenColor;
      @include borderradius(5px);
      text-align: center;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      padding:0 5rem;
      border:1px solid $greenColor;
      a{
          color:$whitecolor;
          font-family: 'Axiforma-Bold';
          font-size:20px;
      }
      &:hover{
        background-color: transparent;
        color:$greenColor;
        a{
          color:$greenColor;
        }
      }
    }
  }
}

.main-slider{
  .item{
    img{
      height:100vh;
      object-fit: cover;
    }
  }
  .slider-content{
    text-align: center;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); 
    .slider-content-box{
      h3{
        color:$whitecolor;
        @include getMontserratFamily();
        font-size:52px;
        text-transform: uppercase;
        font-weight: bold;
      }
      p{
        color:$whitecolor;
        margin: 20px 100px 30px;
      }
      .slider-button{
        a{
          border:1px solid $whitecolor;
          height: 50px;
          line-height: 50px;
          padding: 0px calc(2rem + 20px) 0px 2rem;
          display: inline-block;
          position: relative;
          font-size: 18px;
          color:$whitecolor;
          @include getRajdhaniFamily();
          font-weight:600;
          text-decoration: none;
          text-transform: uppercase;
          img{
              top:15px;
              right: calc(2rem - 10px);
              height: 20px;
              width: auto;
              position: absolute;
              @include transition-method(0.2s);
          }
          &:hover{
            img{
              right: 1rem;
              @include transition-method(0.2s);
            }
          }
        }
      }
    }

  }
}
.main-pageheader{
  position:relative;
  img{
    height:100vh;
    object-fit:cover;
    width:100%
  }
  .pageheader-main-section{
    position:absolute;
    height:100%;
    width:100%;
    .mainpage-header-section{
      position: relative;
      height:100vh;
      .main-pageheader-left{
        transform: translateY(-50%);
        top:50%;
        width:50%;
        left: 0;
        position:absolute;
        .pageheader-box{
          padding-right:20px;
          position: relative;
          h1{
            font-size:48px;
            font-family: 'Axiforma-Bold';
            color:$whitecolor;
            margin-bottom:40px;
          }
          p{
            font-size:15px;
            font-family: 'Axiforma-Book';
            color:$whitecolor;
          }
        }

      }
      .main-pageheader-right{
        transform: translateY(-50%);
        top:50%;
        position:absolute;
        width:50%;
        right: 0;
        .pageheader-box{
          padding-left:20px;
          position: relative;
          form{
              input[type=text]{
              height:60px;
              line-height: 60px;
              @include borderradius(5px);
              padding:0px 60px 0px 20px;
              border:0px;
              width: 100%;
              font-size:15px;
              font-family: 'Axiforma-Book';
              color:$blackcolor;
              outline-color: $greenColor;
            }
              input[type=button]{
              height:50px;
              line-height: 50px;;
              @include borderradius(3px);
              top:5px;
              padding:0px 15px;
              right:5px;
              position: absolute;
              background-color: $greenColor;
              border:1px solid $greenColor;
              font-size:15px;
              font-family: 'Axiforma-Bold';
              color:$whitecolor;
              cursor: pointer;
              &:hover{
                background-color: transparent;
                color:$greenColor;
              }
              &:disabled{
                cursor: default;
                opacity: 0.7;
                &:hover{
                  background-color: $greenColor;
                  color:$whitecolor;
                }
              }
            }
          }
          p{
            font-size:12px;
            margin-top:10px;
            font-family: 'Axiforma-Book';
            color:$whitecolor;
          }
        }
      }
    }


  }
}

.pageheader{
  position:relative;
  img{
    height:70vh;
    object-fit:cover;
    width:100%
  }
  .page-header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    .page-header-content-box{
      text-align: left;
      .page-header-menu{
        ul{
          padding: 0;
          margin:0;
          float: left;
          width: 100%;
          li{
            list-style:none;
            float: left;
            margin:10px 0px 35px 0px;
            a{
              font-family: 'Axiforma-Book';
              font-size:13px;
              color:$whitecolor;
              &.active{
                color:$whitecolorpacity055;
              }
            }
          }
        }
      }
      h3{
        color:$whitecolor;
        text-transform: capitalize;
        margin-bottom:40px;
        font-size:48px;
        font-weight: bold;
      }
      h1{
        font-family: 'Axiforma-Bold';
        color:$whitecolor;
        font-size: 34px;
        color:$whitecolor;
        width:50vw;
        margin:15px 0px
      }
      p{
        font-family: 'Axiforma-Regular';
        color:$whitecolor;
        font-size: 15px;
        width:50vw;
      }
      .page-header-button{
        a{
          border:1px solid $whitecolor;
          height: 50px;
          line-height: 50px;
          padding: 0px calc(2rem + 20px) 0px 2rem;
          display: inline-block;
          position: relative;
          font-size: 24px;
          color:$whitecolor;
          text-decoration: none;
          text-transform: uppercase;
          img{
              top:15px;
              right: calc(2rem - 10px);
              height: 20px;
              width: auto;
              position: absolute;
              @include transition-method(0.2s);
          }
          &:hover{
            img{
              right: 1rem;
              @include transition-method(0.2s);
            }
          }
        }
      }
    }
  }
  .page-header-bottom{
    position: absolute;
    bottom: 0px;
    width:100%;
    .page-header-bottom-inside{
      position: relative;
    .page-header-menu{
      ul{
        padding: 0;
        margin:0;
        li{
          list-style:none;
          float: left;
          margin:15px 15px 15px 0;
          a{
            @include getRajdhaniFamily();
            font-size:14px;
            color:$whitecolor;
          }
        }
      }
    }
  }


  }
}


.home-exporter-section{

.nav-tabs-header{
  text-align: center;
  border-bottom:1px solid $borderGreyColor;
  nav{
    display: inline-block;
  
    .nav-tabs{
      border:0px;
        .nav-link{
          color:$blackcolor;
          font-family: 'Axiforma-Book';
          font-size:15px;
          height: 60px;
          line-height: 60px;
          padding: 0px 2rem;
          margin-bottom: -1px;
          text-transform: capitalize;
          &.active{
            color:$menuHoverBlue;
            font-family: 'Axiforma-Bold';
            font-size:15px;
            border:1px solid $borderGreyColor;
            border-bottom:0px;
            
          }
        }
    }
  }

}
}

.tab-box{
  padding:100px 0px;
  .tab-box-inside{
    .home-exporters-box{
      position: relative;
      height: 100%;
      .home-exporters-box-inside{
        transform: translateY(-50%);
        top:50%;
        position:absolute;
        h3{
          color:$fontGreyColor;
          font-family: 'Axiforma-Book';
          font-size:11px;
        }
        h2{
          color:$blackcolor;
          font-family: 'Axiforma-Bold';
          font-size:26px;
          margin:20px 0px;
        }
        p{
          color:$fontGreyColor;
          font-family: 'Axiforma-Book';
          font-size:15px;
        }
        .blue-line{
          height:2px;
          margin:30px 0px;
          background-color:$menuHoverBlue;
          width:70px;
        }
        .exporters-companies{
          float: left;
          .company-box{
            float: left;
            width:20%;
            text-align: center;
            padding:0px 15px;
            img{
                max-width:100%;
            }
          }
        }
        .exporters-description{
          color:$spanGreyColor;
          font-family: 'Axiforma-Book';
          font-size:13px;
          display: block;
          width:100%;
          margin:15px 0px;
          float: left;
        }
        a{
          float: left;
          color:$blackcolor;
          font-family: 'Axiforma-Bold';
          font-size:13px;
          text-decoration: underline !important;
          &:hover{
            color:$menuHoverBlue;
          }
        }
      }
      .try-now{
        background: $greenColor;
        @include borderradius(5px);
        height: 50px;
        line-height: 50px;
        padding:0px 15px;
        display: inline-block;
        border:1px solid $greenColor;
        @include transition-method(0.2s);
        &:hover{
          background:transparent;
          @include transition-method(0.2s);
          a{
            color:$greenColor;
            @include transition-method(0.2s);
          }
        }
        a{
          @include transition-method(0.2s);
          color:$whitecolor;
          text-decoration: none !important;
        }
      }
    }
    .tab-box-img{
      position: relative;
      &.left-img{
          .img-line{
            right:-10px;
            left: auto;
            height: 50px;
            z-index: 3;
            .left{
              background:$wightGreenColor;
            }
            .right{
              background-color:$greenColor ;
            }
          }
          .dots-left{
            position: absolute;
            right:-20px;
            bottom:-20px;
            z-index:1;
            img{
              width:auto !important;
              left:0;
            }
          }
          img{
            z-index: 2;
            position: relative;
            width: 50vw;
          }
      }

      .img-line{
        height:94px;
        width:20px;
        position:absolute;
        top:80px;
        left:-10px;
        .left{
          float: left;
          width:10px;
          height:100%;
          background-color:$greenColor ;
        }
        .right{
          float: left;
          width:10px;
          height:100%;
          background:$wightGreenColor;
        
        }
      }
      img{
        width:100%;
        &#right50-img{
            width:50vw;
        }
      }
    }

    .tab-rules{
      padding:40px;
      :last-child{
        border-bottom:0px !important;
      }
      .rules-box{
        display: flex;
        padding:15px 0px;;
        border-bottom:1px solid $footerFontColor;
        .rules-icon{
          align-self: center;
          height: 40px;
          width:40px;
          margin-right:15px;
          text-align: center;
          i{
            color:$footerFontColor;
            font-size:26px;
          }
          img{
            max-width:100%;
          }
        }
        .rules-desc{
          flex: 1 1 ;
          p{
            font-family: 'Axiforma-Book';
            font-size:13px;
            color:$whitecolor;
            margin: 0px;
          }
        }
      }

    }
  }
}
.main-options{
  background-color: $greyBackColor;
  position: relative;
  .left-absolute{
    //border-top:5px solid $turquoiseColor;
    position: absolute;
    height:100%;
    width:50vw;
    right:0px;
    background-color: $wheightGreyBackColor;
  }
}

.homepage-section{
  .homeboxleft{
    position: absolute;
    width:108px;
    left:-54px;
    height:210px;
    bottom:-105px;
  }
  .homeboxright{
    position: absolute;
    width:108px;
    right:-54px;
    height:210px;
    bottom:-105px;
  }


  .col-md-6{
    &:nth-child(2) .home-box{
      background-color: $homepageBlueColorTwo;
    }
    &:nth-child(3) .home-box{
      background-color: $homepageBlueColorThree;
    }
    &:nth-child(4) .home-box{
      background-color: $homepageBlueColorFour;
    }
    &:nth-child(5) .home-box{
      background-color: $homepageBlueColorFive;
    }
    &:nth-child(6) .home-box{
      background-color: $homepageBlueColorSix;
    }
    .home-box{
      padding:25px;
      margin:15px 0px;
      background-color: $homepageBlueColorOne;
      min-height:340px;
      position:relative;
      @include transition-method(0.2s);
      @include scale-method(1);
      &:hover{
        @include transition-method(0.2s);
        @include boxShadow();
        @include scale-method(1.05);
      } 

      .home-box-img{
        img{
          width:auto;
          height: 64px;
        }
        .box-img{
          width:64px;
          height: 64px;
          background: url('../images/home-box-img.png') top left no-repeat;
      
          &.one{
            background-position: 0px 0px;
          }
          &.two{
            background-position: -64px 0px;
          }
          &.three{
            background-position: 0px -64px;
          }
          &.four{
            background-position: -64px -64px;
          }
          &.five{
            background-position: 0px -128px;
          }
          &.six{
            background-position: -64px -128px;
          }
        }
      }
      h3{
        font-family: 'Axiforma-Bold';
        font-size:20px;
        color:$whitecolor;
        margin: 20px 0px 15px 0px;
      }
      p{
        font-family: 'Axiforma-Book';
        font-size:13px;
        line-height: normal;
        color:$whitecolor;
      }
    }
  }
}



.main-content{
  padding:100px 0px;
  background: url(../images/Combined-Shape.png) top right no-repeat;
  .page-content{
    p{
      padding-bottom:1rem;
      line-height: 30px;
      font-size: 14px;
      a{
        color:$blackcolor;
      }
    }
    img{
      max-width: 100%;
      width:280px;
    }

  }
}
.product-img{
  img{
    width: 100%;
  }
}
.additional-features-section{
  margin:40px 0px;
  h2{
    color:$fontGreyColor;
    font-family: 'Axiforma-Book';
    font-size: 11px;
    margin-bottom:15px;
    text-transform: uppercase;
}
  .additional-features{

    :nth-child(2n + 2) {
      border-right:0px !important;
    }
    :nth-child(2n + 1) {
      padding-left:0px !important;
    }
    :nth-last-child(-n + 2) {
      border-bottom:0px !important;
    }
    .features-box{
      float: left;
      width:50%;
      border-right:1px solid $borderGreyColor;
      border-bottom:1px solid $borderGreyColor;
      padding:15px;
      min-height: 300px;

      .features-img{
        .together-features{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px 0px;
          }
          &.two{
            background-position:-56px 0px ;
          }
          &.three{
            background-position:  0px -56px;
          }
          &.four{
            background-position: -56px -56px;
          }
        }
        .features-data{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -112px;
          }
          &.two{
            background-position:-56px -112px ;
          }
          &.three{
            background-position:  0px -168px;
          }
          &.four{
            background-position: -56px -168px;
          }
        }
        .features-marketing{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -224px;
          }
          &.two{
            background-position:-56px  -112px ;
          }
          &.three{
            background-position:  0px -168px;
          }
          &.four{
            background-position: -56px -56px;
          }
        }
        .features-google{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -224px;
          }
          &.two{
            background-position:-56px  -112px ;
          }
          &.three{
            background-position:  0px -168px;
          }
          &.four{
            background-position: -56px -56px;
          }
        }
        .features-facebook{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -112px;
          }
          &.two{
            background-position:-56px  -336px ;
          }
          &.three{
            background-position:  -56px 0px;
          }
          &.four{
            background-position: -56px -280px;
          }
        }
        .features-media{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -392px;
          }
          &.two{
            background-position:-56px  -392px ;
          }
          &.three{
            background-position:  0px -448px;
          }
          &.four{
            background-position: -56px -280px;
          }
        }
        .features-theadx{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -224px;
          }
          &.two{
            background-position:-56px  -112px ;
          }
          &.three{
            background-position:  0px -504px;
          }
          &.four{
            background-position: -56px -280px;
          }
        }
        .features-online{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -560px;
          }
          &.two{
            background-position: -56px -448px;
          }
          &.three{
            background-position:  0px -616px;
          }
          &.four{
            background-position:-56px  -504px ;
           
          }
        }
        .features-mobile{
          height: 56px;
          width: 56px;
          background: url('../images/product_spirite.png') top left no-repeat;
          &.one{
            background-position: 0px -672px;
          }
          &.two{
            background-position: -56px -560px;
          }
          &.three{
            background-position:  -56px -672px;
          }
          &.four{
            background-position:-56px  -616px ;
           
          }
        }
        img{

        }
      }
      h3{
        color:$blackcolor;
        font-family: 'Axiforma-Bold';
        font-size: 18px;
        margin: 15px 0px;
        height: 50px;
      }
      p{
        color:$blackcolor;
        font-family: 'Axiforma-Book';
        font-size: 13px;
      }
    }
  }
}


.pages-header{
  @extend .standart-header;
  h3{
    font-size: 35px !important;
    font-weight: bold;
  }
}

.team-section{
 .homeboxleft {
    position: absolute;
    width: 108px;
    left: -54px;
    height: 210px;
    bottom: -105px;
}
  h2{
    font-family: 'Axiforma-Light';
    font-size: 26px;
    color:$blackcolor;
    margin-bottom:100px;
  }
  .team-box{
    margin-bottom:30px;
    .team-img{
      img{
          width: 100%;;
      }
    }
    h3{
        font-family: 'Axiforma-Bold';
        font-size: 18px;
        color:$blackcolor;
        margin-top:10px;
        margin-bottom: 0px;
    }
    h4{
      display: none;
      font-family: 'Axiforma-Light';
      font-size: 13px;
      color:$blackcolor;
    }
    p{
      margin-top:15px;
      font-family: 'Axiforma-Regular';
      font-size: 13px;
      color:$blackcolor;
    }
  }
  &.partners{
    .col-md-3{
      padding:0px !important;
    }
  }
  .col-md-3{
    padding:0px 10px !important;
  }
    .collaborator-box{
      @include grayScaleMethod(100%);
      @include transition-method(0.3s);
      height:150px;
      text-align: center;
      border:1px solid $contactInputColor;
        img{
          @include vertical-align();
          height: 100px;
        }
        &:hover{
          @include grayScaleMethod(0);
          @include transition-method(0.3s);
        }
    }
  
}

.contact-page{
  p{
    @include sourceSansProFamily();
    font-size:16px;
    font-weight:400;
    a{
      @include sourceSansProFamily();
      font-size:16px;
      font-weight:400;
    }
  }
}

.contact-section{
  background-color:$greyBackColor;
  padding: 80px 0;
  position: relative;
  .contact-left{
    position:absolute;
    top:80px;
    left:-56px;
  }
  .contact-right{
    position:absolute;
    background-color: $whitecolor;
    width:50vw;
    top:0;
    right:0px;
    height: 100%;
    img{
      position: absolute;
      right:0px;
      top:0px;
    }
  }
  .contact-info {
    h3{
      font-family: 'Axiforma-Bold';
      font-size:26px;
      color:$blackcolor;
    }
    label{
      font-family: 'Axiforma-Book';
      font-size:11px;
      color:$fontGreyColor;
      margin-left:30px;
    }
    .contact-box{
      display: flex;
      .contact-icon{
        text-align:left;
        height:40px;
        width:30px;
        align-self: center;
        i{
          color:$menuHoverBlue;
          font-size:18px;
        }
      }
      .contact-desc{
        p{
          font-family: 'Axiforma-Book';
          font-size:15px;
          color:$blackcolor;
        }
        a{
          font-family: 'Axiforma-Book';
          font-size:15px;
          color:$blackcolor;
          text-decoration: none;
          :hover{

          }
        }
      }
    }
  }
  .contact-form{
    .info-section-title{
      margin-top:20px;
      @extend .standart-section-title ;
    }
    h3{
      font-family: 'Axiforma-Bold';
      font-size:26px;
      color:$blackcolor;
    }
    p{
      font-family: 'Axiforma-Book';
      font-size:15px;
      color:$blackcolor;
    }
    .blue-line{
      height:2px;
      background-color: $menuHoverBlue;
      width:70px;
      margin:30px 0px;
    }
    input[type=text],input[type=phone],input[type=email]{
        background-color: $contactInputColor;
        font-family: 'Axiforma-Book';
        padding-left:15px;
        font-size:15px;
        color:$blackcolor;
        height:60px;
        line-height:60px;
        width:100%;
        @include borderradius(5px);
        border:0px;
        outline-color: $greenColor;
        margin:15px 0px;
        &:focus{
          background-color: $whitecolor;
        }
        &::placeholder{
          text-transform: capitalize;
        }
    }
    textarea{
      background-color: $contactInputColor;
      font-family: 'Axiforma-Book';
      padding-left:15px;
      font-size:15px;
      color:$blackcolor;
      min-height:90px;
      line-height:60px;
      width:100%;
      @include borderradius(5px);
      border:0px;
      outline-color: $greenColor;
      margin:15px 0px;
      &:focus{
        background-color: $whitecolor;
      }
      &::placeholder{
        text-transform: capitalize;
      }
    }
    .contact-btn{
      text-align: center;
      input[type=submit]{
        display: inline-block;
        background-color: $greenColor;
        color:$whitecolor;
        height:50px;
        line-height:50px;
        border:1px solid $greenColor;
        font-family: 'Axiforma-Book';
        padding:0px 2rem;
        font-size:15px;
        @include borderradius(5px);
        &:hover{
          background-color: transparent;
          color:$greenColor;
        }
      }
    }
  }
}

.map-section{
  
}

footer{
  background:$footerBackgroundColor;
  padding:50px 0px;
  .col-md-2{
    padding-right:0px;
  }
  .footer-logo{
      h3{
      font-family: 'Circular-Black';
      color:$whitecolor;
      margin-bottom:30px;
      font-size:26px;
      border-bottom:2px solid $menuHoverBlue;
      display: inline-block;
      padding-right:15px;
      text-align: left;
    }
  }
  .footer-menu{
    &.last-menu{
      ul{
        li{
          line-height: normal;
          a{
            font-family: 'Axiforma-Bold';
            color:$whitecolor;
            font-size:15px;
            line-height: normal;
          }
        }
      }
    }
    h3{
      font-family: 'Axiforma-Bold';
      color:$whitecolor;
      margin-bottom:15px;
      text-transform: capitalize;
      font-size:16px;
      a{
        font-weight: bold;
        color:$footerTitleFontColor;
      }
    }
    ul{
      padding: 0;
      margin:0;
      li{
        list-style: none;
        line-height: 13px;
        &:hover{
            a{
              color:$whitecolor;
              @include transition-method(0.3s);
            }
        }
        a{
          font-family: 'Axiforma-Book';
          font-size:13px;
          line-height: 13px;
          text-decoration: none;
          color:$whitecolorpacity055;
          @include transition-method(0.3s);
        }
      }
    }
  }


  .footer-social{
    float: right;
    h3{
      font-family: 'Axiforma-Bold';
      font-size:13px;
      color:$whitecolor;
      float: right;
    }
    .follow-us{
      float: right;
      font-family: 'Axiforma-Book';
      font-size:11px;
      color:$whitecolorpacity055;
    }
    ul{
      padding: 0;
      margin: 15px 0px;
      float: right;
      width:100%;
      li{
        list-style: none;
        float: right; 
        margin:0px 15px;
        &:last-child{
          margin-right:0px;
        }
        &:hover{
          a{
            i{
              @include transition-method(0.3);
              color:$whitecolorpacity055;
            }
          }
        }
        a{
          i{
            color:$whitecolor;
            font-size: 26px;
          }
        }
      }
    }
  }
  .footer-bottom{
    margin-top:40px;
    .copyright{
        p{
          color:$whitecolor;
          font-size:13px;
          font-family: 'Axiforma-Regular';
          text-align: right;
        }
    }
    .footer-bottom-menu{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          float: left;
          margin:0px 10px;
          
          &:nth-child(1){
            margin: 0px;
          }
          a{
            color:$solutionTitleColor;
            font-size:12px;
            font-weight: bold;
          }
        }
      }
    }

  }
}




#gotopbtn{
  display: none;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  position: fixed;
  background-color:$whitecolor;
  border:1px solid $footerTitleFontColor;
  z-index: 999999;
  outline: 0px;
  @include transition-method(0.2s);
  &:hover{
    @include transition-method(0.2s);
    @include borderradius(10px);
  }
  i{
    color:$footerTitleFontColor;
    font-size: 30px;
    margin-top: 5px;
  }
  b{
    display: none;
    height: 10px;
    width: 100%;
    position: relative;
    z-index: 999999;

    margin-top: 5px;
    @include rotateMethod(180deg);
    i{
      @include rotateMethod(180deg);
    }
    .flame{
      display: inline-block;
      width: 20px;
      height: 20px;
      //background: url(../images/flame.png);
      background-size: 60px;
      position: relative;
      background-position: 20px;
      animation:firewawe  0.3s  infinite ;
    }
  }
}



.get-offer{
  width:400px;
  position:fixed;
  top: 50%;
  right:-400px;
  transform: translateY(-50%);
  @include transition-method(0.2s);
  z-index:999999;
  background: $whitecolor;
  border:1px solid $footergreycolor;
  border-right:0px !important;
  @include boxShadow();
  padding: 2rem 1rem;
  @include borderradiusall(5px,0px,0px,5px);
  &.slide-open{
    right:0px;
  }
  .get-offer-title{
    height:40px;
    padding:10px 0px;
    display: flex;
    h3{
      flex:1 1 ;
      font-size:15px;
      height:20px;
      line-height: 20px;
      margin:0px;
      font-weight: bold;
      color:$blackcolor;
    }
      .get-offer-close{
        height:20px;
        line-height: 20px;
        width:20px;
        float: right;
        cursor:pointer;
        text-align: center;
        i{
          color:$footergreycolor;
        }
      }
    
    }

  form {
    input[type=text], input[type=email], input[type=phone]{
      height: 35px;
      line-height: 35px;
      border:1px solid $footergreycolor;
      color:$blackcolor;
      margin-bottom:15px;
      @include border-radius(5px);
      width:100%;
      font-size:15px;
      padding:0px 5px;
      color:$footergreycolor;
      &::placeholder{
        font-size:15px;
        padding:0px 5px;
        color:$footergreycolor;
      }
    }
    textarea{
      border:1px solid $footergreycolor;
      color:$blackcolor;
      margin-bottom:15px;
      padding:0px 5px;
      @include border-radius(5px);
      width:100%;
      min-height: 35px;
      color:$footergreycolor;
      &::placeholder{
        font-size:15px;
        padding:0px 5px;
        color:$footergreycolor;
        
      }
    }
    input[type=submit]{
      height:35px;
      line-height: 35px;
      color:$whitecolor;
      font-weight:bold;
      background: $normalBlueColor;
      @include border-radius(5px);
      border:1px solid $normalBlueColor;
      padding:0px 1rem;
    
    }
    
  }
}

.get-offer-btn{
  display: inline-block;
  position:fixed;
  z-index: 999999;
  bottom:10px;
  right:10px;
  height:40px;
  line-height: 40px;
  color:$whitecolor;
  background: $normalBlueColor;
  @include border-radius(5px);
  border:1px solid $normalBlueColor;
  padding:0px 1rem;
  @include boxShadow();
  cursor: pointer;

}


.product-name-title{
  display: flex;
  position: relative;
  .product-section{
    position: absolute;
    height:100%;
    width: 100%;
    z-index: 999999;
  }
  .title{
    font-size: 14px;
    margin: 0px;
    font-family: "Axiforma-SemiBold";
    margin-right: 10px;
    height: 20px;
    line-height: 20px;
    color:$blackcolor;
  }
  .content{
    color:$blackcolor;
    font-size: 14px !important;
    margin: 0px !important;
    padding: 0px !important;
    font-family: "Axiforma-Regular";
    background: transparent !important;
    height: 20px !important;
    line-height: 20px !important;
    width: auto !important;
  }
}

.modal{
  background-color: $whitecolorpacity07;
}
.modal-content{
  padding:10px 3rem 3rem 3rem; 
  height: 75vh;
}

.modal-logo-section{
  text-align: center;
  bottom: 86vh;
  position: absolute;
  width: 100%;
  left: 0;
  img{
    display: inline-block;
    height: 5vh;
  }
}
.modal-footer-section{
  text-align: center;
  bottom: 5vh;
  position: absolute;
  width: 100%;
  left: 0;
  p{
    font-family: 'Axiforma-Regular';
    color:$fontGreyColor;
    font-size:13px;
    margin:0px;
  }
}
.width-900{
  max-width:900px;
}

.apply-page{
  background: url('../images/pageheaders/home-pageheader.jpg') no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width:100%;
  position: relative;
  .apply-desc{
    text-align: center;
    @include vertical-align();
    .alert-info{
      display: inline-block;
    }
  }
}
.apply-form{
  margin:25px 0px;
  input[type=submit]{
    float: right;
  }
  button{
    float: right;
    margin:0px 15px;
    @include borderradius(5px);
    border:1px solid $contactInputColor;
    background-color: transparent;
    height:50px;
    line-height: 50px;
    color:$blackcolor;
    padding: 0px 2rem;
  }
}


.fa-globe{
  &:before{
    content:"&#xf0ac;";
  }
}


.iti {
  width:100%;
  margin: 15px 0px;
  input[type=phone]{
    padding-left:50px !important;
  }
}